In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv("houselistings_simulated.csv")

df.head()

,SalesDate,ListingDate,bedrooms,bathrooms,sqft,years_since_remodel,broker
0,2016-11-17,2016-06-28,2.0,1.0,1572.384151,5.276257,1.0
1,2017-04-01,2016-11-25,1.0,3.0,1391.115888,4.907824,1.0
2,2015-12-30,2015-10-21,4.0,4.0,3433.835995,16.754513,1.0
3,2016-12-04,2016-10-26,7.0,6.0,6626.121440,26.910622,0.0
4,2015-05-22,2015-01-14,2.0,2.0,2042.792376,4.068259,1.0

In [3]:
for dt in ['SalesDate', 'ListingDate']:
    df[dt] = pd.to_datetime(df[dt])

In [4]:
df['timetosell'] = (df['SalesDate'] - df['ListingDate']).dt.days

In [5]:
xcolumns = df.columns[2: -1]

In [6]:
xcolumns

Index(['bedrooms', 'bathrooms', 'sqft', 'years_since_remodel', 'broker'], dtype='object')

In [16]:
y = df['timetosell']
X = df[xcolumns]

In [8]:
df

,SalesDate,ListingDate,bedrooms,bathrooms,sqft,years_since_remodel,broker,timetosell
0,2016-11-17,2016-06-28,2.0,1.0,1572.384151,5.276257,1.0,142.0
1,2017-04-01,2016-11-25,1.0,3.0,1391.115888,4.907824,1.0,127.0
2,2015-12-30,2015-10-21,4.0,4.0,3433.835995,16.754513,1.0,70.0
3,2016-12-04,2016-10-26,7.0,6.0,6626.121440,26.910622,0.0,39.0
4,2015-05-22,2015-01-14,2.0,2.0,2042.792376,4.068259,1.0,128.0
5,2016-11-06,2016-05-11,2.0,1.0,1598.766533,50.332959,1.0,179.0
6,2017-04-08,2016-12-26,2.0,3.0,1930.417254,2.140238,0.0,103.0
7,2017-11-09,2017-07-04,1.0,3.0,1606.767406,2.295865,0.0,128.0
8,2017-04-10,2016-12-26,3.0,1.0,2821.169249,0.543219,0.0,105.0
9,2015-09-11,2015-05-09,2.0,3.0,1637.479501,23.411825,1.0,125.0
10,2017-08-23,2017-04-09,1.0,2.0,NaN,1.110526,NaN,136.0
11,2015-09-24,2015-04-16,NaN,1.0,1726.151872,12.882918,NaN,161.0
12,NaT,2017-11-16,1.0,3.0,1184.928212,10.613520,0.0,NaN
13,2015-12-26,2015-07-28,1.0,3.0,1232.323773,2.472800,1.0,151.0
14,2015-10-22,2015-06-15,2.0,2.0,2081.497486,4.732509,1.0,129.0
15,2017-11-22,2017-07-02,1.0,2.0,1063.609370,0.626153,1.0,143.0
16,2016-10-23,2016-07-28,2.0,5.0,2499.294763,8.559584,0.0,87.0
17,2016-09-10,2016-05-23,3.0,1.0,2219.691652,4.339628,1.0,110.0
18,2017-05-05,2016-11-12,0.0,4.0,848.781083,14.038491,0.0,174.0
19,2017-07-30,2017-03-10,1.0,2.0,1148.077345,10.267156,1.0,142.0
20,2016-07-09,2016-01-23,1.0,3.0,1309.673253,43.964075,0.0,168.0
21,2016-11-10,2016-06-14,1.0,3.0,1082.392655,20.697103,0.0,149.0
22,2015-09-06,2015-07-03,5.0,4.0,4170.575497,15.246976,1.0,65.0
23,2015-09-09,2015-02-22,1.0,2.0,1204.756594,17.342838,0.0,199.0
24,2017-07-22,2017-03-22,NaN,4.0,1519.754298,5.000551,NaN,122.0
25,2017-02-23,2016-11-23,2.0,4.0,2485.390156,1.787452,1.0,92.0
26,2015-12-04,2015-06-09,0.0,3.0,734.681926,0.659280,1.0,178.0
27,2015-12-06,2015-10-17,5.0,6.0,5284.669382,17.343266,1.0,50.0
28,2016-08-12,2016-01-19,0.0,3.0,756.269932,17.313478,1.0,206.0
29,2016-12-27,2016-07-19,1.0,2.0,977.688166,9.694830,1.0,161.0
...,...,...,...,...,...,...,...,...
99970,2017-12-06,2017-07-03,0.0,3.0,832.563237,NaN,NaN,156.0
99971,2016-02-06,2015-07-20,0.0,3.0,650.085301,0.386384,1.0,201.0
99972,2016-10-05,2016-04-15,0.0,3.0,778.646035,2.725205,1.0,173.0
99973,2015-07-18,2015-03-30,2.0,3.0,1667.212394,1.784284,1.0,110.0
99974,2016-10-26,2016-04-24,1.0,2.0,1007.452465,32.053214,1.0,185.0
99975,2017-04-02,2016-12-20,2.0,4.0,2151.888645,7.752672,0.0,103.0
99976,2017-10-31,2017-05-31,1.0,2.0,1002.237506,21.013512,0.0,153.0
99977,2015-11-22,2015-07-02,1.0,3.0,1326.759856,18.575800,1.0,143.0
99978,2016-01-09,2015-06-14,0.0,3.0,745.995550,6.948923,0.0,209.0
99979,2017-09-19,2017-04-16,NaN,2.0,1050.337569,8.448347,NaN,156.0
99980,2015-10-26,2015-07-15,4.0,1.0,3579.669430,4.464177,0.0,103.0
99981,2016-01-19,2015-11-10,4.0,4.0,3326.481256,1.768695,0.0,70.0
99982,NaT,2017-11-11,0.0,3.0,806.961848,5.889061,1.0,NaN
99983,2017-12-18,2017-06-13,0.0,3.0,653.950845,15.877637,0.0,188.0
99984,2017-03-25,2016-11-21,1.0,4.0,1481.579368,4.236074,1.0,124.0
99985,2016-05-16,2015-12-26,1.0,3.0,1249.774590,0.203633,0.0,142.0
99986,2016-06-17,2015-12-31,1.0,2.0,1103.248695,13.808343,0.0,169.0
99987,2016-07-02,2016-03-19,2.0,3.0,NaN,1.344772,NaN,105.0
99988,2016-10-17,2016-05-18,1.0,1.0,883.910872,2.665655,1.0,152.0
99989,NaT,2017-09-27,1.0,1.0,979.565073,17.915468,1.0,NaN
99990,2016-10-11,2016-05-22,1.0,2.0,1009.500148,4.391586,1.0,142.0
99991,2016-08-15,2016-02-15,1.0,1.0,857.455261,1.658189,1.0,182.0
99992,2015-05-16,2015-02-16,3.0,4.0,3027.586542,11.897082,1.0,89.0
99993,2015-05-31,2015-01-15,1.0,4.0,1530.762530,5.604056,1.0,136.0
99994,2017-01-07,2016-06-29,0.0,3.0,739.851567,2.803367,0.0,192.0
99995,NaT,2017-09-24,2.0,1.0,1411.531606,2.689701,0.0,NaN
99996,2017-06-08,2017-02-11,2.0,2.0,2188.274388,12.379614,NaN,117.0
99997,2015-11-05,2015-05-19,1.0,2.0,1100.749686,2.321092,1.0,170.0
99998,2016-11-30,2016-05-20,0.0,3.0,801.919906,3.850118,0.0,194.0
99999,2017-10-16,2017-04-16,0.0,3.0,774.041847,5.129406,0.0,183.0

In [14]:
# to fit the dates into the algorithm find the day of the year and because the time is continuous we 
# need a circular representation. 
#Therefore the sin and cosine of the circle are used to represent the seasons

days = df['ListingDate'].dt.dayofyear * 360 /365

X['yearcos'] = np.cos(days)
X['yearsin'] = np.sin(days)

In [18]:
X.head()

,bedrooms,bathrooms,sqft,years_since_remodel,broker,yearcos,yearsin
0,2.0,1.0,1572.384151,5.276257,1.0,-0.034255,0.999413
1,1.0,3.0,1391.115888,4.907824,1.0,0.318941,-0.947774
2,4.0,4.0,3433.835995,16.754513,1.0,0.584868,0.811128
3,7.0,6.0,6626.121440,26.910622,0.0,0.836078,0.548611
4,2.0,2.0,2042.792376,4.068259,1.0,0.323047,0.946383

In [20]:

X['linear_time'] = (df['ListingDate'] - df['ListingDate'].min()).dt.days

C:\Users\zkxav\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
X.shape, y.shape

((100000, 8), (100000,))

In [25]:
from sklearn.model_selection import train_test_split

In [27]:
xtrn, xtst, ytrn, ytst = train_test_split(X, y, train_size = .8)

C:\Users\zkxav\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [29]:
from sklearn.linear_model import Ridge

mdl = Ridge()